* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(180, 66%, 49%);
  --clr-primary-light: hsl(180, 68%, 75%);
  --clr-secondary: hsl(257, 27%, 26%);

  --clr-error: hsl(0, 87%, 67%);

  --neutral-900: hsl(260, 8%, 14%);
  --neutral-800: hsl(255, 11%, 22%);
  --neutral-400: hsl(257, 7%, 63%);
  --neutral-300: hsl(0, 0%, 75%);

  --neutral-200: #eff1f7;

  --neutral-100: #fff;

  --padding-x: 2em;
  --max-width: 1200px;

  --nav-height: 100px;
  font-family: 'Poppins', sans-serif;
  color: var(--neutral-400);
  font-size: 16px;
}

@media only screen and (min-width: 50em) {
  :root {
    font-size: 16px;
    --padding-x: 2em;
  }
}

.inner {
  max-width: var(--max-width);
  margin: 0 auto;
}

/* nav */

nav {
  height: var(--nav-height);
  position: relative;
}

.nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav__imgContainer {
  margin-right: 2.5em;
}

.nav__links {
  display: none;
  flex-direction: column;

  position: absolute;
  top: 100%;
  left: 2em;
  right: 2em;

  background-color: var(--clr-secondary);
  padding: 2.5em;
  border-radius: 8px;
  color: var(--neutral-100);
}

.nav__links--show {
  display: flex;
}

.nav__hr {
  margin: 1.5em 0;
  background-color: rgb(99, 99, 99);
  border: none;
  height: 1px;
}

.nav__group {
  list-style: none;
}

.nav__group > * + * {
  margin-top: 1.5em;
}

.nav__group > li {
  width: 100%;
  text-align: center;
}

.nav__group .btn {
  width: 100%;
}

.nav__link {
  font-weight: 700;
}

.nav__link:hover {
  color: var(--neutral-900);
  cursor: pointer;
}

.nav__burger {
  cursor: pointer;
}

.nav__burger > div {
  height: 4px;
  width: 27px;
  background-color: var(--neutral-400);
}

.nav__burger > * + * {
  margin-top: 6px;
}

@media only screen and (min-width: 50em) {
  .nav__burger {
    display: none;
  }

  .nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    color: var(--neutral-400);
    position: static;

    padding: 0;
  }

  .nav__group {
    display: flex;
    align-items: center;
  }

  .nav__group > li {
    width: auto;
  }

  .nav__group > * + * {
    margin-top: 0;
    margin-left: 2em;
  }

  .nav__hr {
    display: none;
  }
}

/* header */

.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

.header__imgContainer {
  margin-bottom: 1.5em;
}

.header__imgContainer > img {
  width: 150% !important;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__title {
  font-size: 3rem;
  line-height: 1.3em;
  margin-bottom: 0.2em;
  max-width: none;
}

.header__desc {
  font-size: 1rem;
  margin-bottom: 2em;
  max-width: 25em;
}

@media only screen and (min-width: 50em) {
  .header__inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__inner > * {
    flex: 1 1;
  }

  .header__container {
    width: 40%;
    max-width: 40em;
    text-align: left;
    align-items: flex-start;
  }
  .header__imgContainer {
    order: 5;
    margin-bottom: 0;
  }

  .header__imgContainer > img {
    width: 150% !important;
  }

  .header__title {
    font-size: 3.5rem;
  }
  .header__desc {
    font-size: 1.2rem;
    line-height: 1.8em;
    max-width: 25em;
  }
}

/* shorten */

.shorten {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.shorten::after {
  content: '';
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--neutral-200);

  z-index: -1;
}
.shorten__inner {
  background-image: url('./images/bg-shorten-mobile.svg');
  background-size: 60% 80%;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--clr-secondary);

  display: flex;
  flex-direction: column;
  padding: 3em;
  margin: 4em auto 0 auto;

  border-radius: 8px;
  width: 100%;

  position: relative;
}

.shorten__inputContainer {
  margin-bottom: 1em;
  width: 100%;
  height: 100%;
  position: relative;
}

.shorten__input {
  width: 100%;
  font-size: 1rem;
  padding: 1em;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: none;
  border: 2px solid transparent;
  height: 100%;
}
.shorten__error {
  margin-top: 0.4em;
  position: static;
  color: var(--clr-error);
}

.shorten__input--error {
  color: var(--clr-error);
  border: 2px solid var(--clr-error);
}

@media only screen and (min-width: 50em) {
  .shorten__inner {
    flex-direction: row;
    background-image: url('./images/bg-shorten-desktop.svg');
    background-size: 100% 100%;
  }

  .shorten__inputContainer {
    margin-bottom: 0;
    margin-right: 1em;
  }

  .shorten__error {
    position: absolute;
    color: var(--clr-error);
    top: 100%;
    left: 0;
  }

  .shorten__input {
  }

  .shorten__inner > .btn {
    width: max-content;
    white-space: nowrap;
  }
}

/* urlList */

.urlList {
  padding-top: 1.2em;
  padding-bottom: 2.5em;
  background-color: var(--neutral-200);
}

.urlList__inner {
  list-style: none;
}

.urlList__inner > * + * {
  margin-top: 1em;
}

.urlList__item {
  width: 100%;
  padding: 1.5em;
  color: var(--neutral-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--neutral-100);
}

.urlList__hr {
  margin: 1em 0;
  flex-grow: 0;
  height: 3px;
  width: 150%;
  border: none;
  background-color: var(--neutral-200);
}

.urlList__item__origin {
  font-weight: 700;
  width: 100%;
}

.urlList__item__main {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
}

.urlList__item__main > * {
  width: 100%;
}

.urlList__item__main > p {
  color: var(--clr-primary);
  margin-bottom: 1em;
}

@media only screen and (min-width: 50em) {
  .urlList__item {
    padding: 1em 1.5em;
    flex-direction: row;
    align-items: center;
  }

  .urlList__hr {
    display: none;
  }

  .urlList__item__main {
    flex-direction: row;
    width: auto;
  }

  .urlList__item__main > * {
    width: auto;
  }

  .urlList__item__main > p {
    margin-bottom: 0;
    margin-right: 1em;
  }
}

/* stats */

.stats {
  background-color: var(--neutral-200);
}

.stats__inner {
  padding: 4em 0 7em 0;
  text-align: center;
}

.stats__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats__container__main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.stats__container__main::after {
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  position: absolute;
  background-color: var(--clr-primary);
  width: 10px;
  height: 100%;
  z-index: -1;
}

.stats__container + .stats__container {
  display: flex;
  flex-direction: column;
  margin-top: 4.5em;
}

.stats__container__title {
  font-size: 1.7rem;
  margin-bottom: 1em;
}

.stats__container__desc {
  font-size: 1rem;
  line-height: 2em;
  max-width: 20em;
}

.stat {
  padding: 4em 2em 2em 2em;

  background-color: var(--neutral-100);
  text-align: center;
  position: relative;
  max-width: 22rem;
  border-radius: 8px;
}

.stat + .stat {
  margin: 5em 0 0 0;
}
.stat__imageContainer {
  background-color: var(--clr-secondary);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1em;
  border-radius: 50%;
}

.stat__imageContainer img {
  width: 2em;
}

.stat__title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.stat__desc {
  line-height: 1.8em;
}

@media only screen and (min-width: 50em) {
  .stats__inner {
    padding: 4em 0 12em 0;
  }
  .stats__container__desc {
    max-width: 30em;
  }
  .stats__container__main {
    flex-direction: row;
  }
  .stats__container__title {
    font-size: 2.5rem;
    margin-bottom: 0.2em;
  }

  .stats__container + .stats__container {
    display: flex;
    flex-direction: column;
    margin-top: 7em;
  }

  .stat__imageContainer {
    padding: 1.3em;
    left: 2em;
    transform: translateY(-50%);
  }

  .stats__container__main {
    flex-direction: row;
  }

  .stats__container__main::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;

    transform: translateY(50%);
  }
  .stat {
    text-align: left;
    max-width: none;
    position: relative;
  }
  .stat + .stat {
    margin: 0 0 0 1.8em;
  }

  .stat:nth-child(2) {
    top: 2.5em;
  }

  .stat:nth-child(3) {
    top: 5em;
  }
}
/* boost */

.boost {
  background-color: var(--clr-secondary);
  background-image: url('./images/bg-boost-mobile.svg');
  background-size: 100% 100%;
}

.boost__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 6em 0;
}

.boost__title {
  color: var(--neutral-100);
  margin-bottom: 0.8em;
}
@media only screen and (min-width: 50em) {
  .boost {
    background-image: url('./images/bg-boost-desktop.svg');
  }
}

/* footer */

footer {
  background-color: var(--neutral-900);
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0;
}

.footer__imgContainer {
  margin-bottom: 3em;
}

.footer__list {
  list-style: none;
  text-align: center;
  margin-bottom: 2.5em;
}

.footer__list > * + * {
  margin-top: 1em;
}

.footer__header {
  color: var(--neutral-100);
  margin-bottom: 1.5em;
}

.footer__link {
  color: var(--neutral-300);
  text-decoration: none;
}

.footer__link:hover {
  color: var(--clr-primary);
}

.footer__logos {
  list-style: none;
  display: flex;
}

.footer__logos > * + * {
  margin-left: 1.5em;
}

.footer__iconContainer {
  background-color: var(--neutral-100);
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.footer__iconContainer:nth-child(1) {
  -webkit-mask: url('./images/icon-facebook.svg') no-repeat center;
  mask: url('./images/icon-facebook.svg') no-repeat center;
}
.footer__iconContainer:nth-child(2) {
  -webkit-mask: url('./images/icon-twitter.svg') no-repeat center;
  mask: url('./images/icon-twitter.svg') no-repeat center;
}
.footer__iconContainer:nth-child(3) {
  -webkit-mask: url('./images/icon-pinterest.svg') no-repeat center;
  mask: url('./images/icon-pinterest.svg') no-repeat center;
}
.footer__iconContainer:nth-child(4) {
  -webkit-mask: url('./images/icon-instagram.svg') no-repeat center;
  mask: url('./images/icon-instagram.svg') no-repeat center;
}
.footer__iconContainer:hover {
  background-color: var(--clr-primary);
}

@media only screen and (min-width: 50em) {
  .footer__inner {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .footer__inner > * + * {
    margin-left: 3em;
  }

  .footer__imgContainer {
    width: 7em;
    min-width: 7em;
    margin-right: auto;
    flex-grow: 0;
  }

  .footer__list {
    text-align: left;
    font-size: 0.8rem;
  }
}
/* button */

.btn {
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--clr-primary);
  color: var(--neutral-100);
  padding: 0.7em 2em;
  border-radius: 100em;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-primary-light);
}

.btn--squared {
  border-radius: 8px;
}

.btn-small {
  font-size: 1rem;
}

/* general */

h1,
h2,
h3 {
  color: var(--neutral-800);
  font-weight: 700;
}

.imgContainer > img {
  width: 100%;
  display: block;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

header,
section,
nav,
footer {
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}
